xdg_config_dir/arduino-ide
xdg_config_dir/Arduino\ IDE
xdg_config_dir/atril
xdg_config_dir/autostart/fluxgui.desktop
xdg_config_dir/autostart/xbacklight.desktop
xdg_config_dir/blender
xdg_config_dir/BraveSoftware
xdg_config_dir/caja
xdg_config_dir/cef_user_data
xdg_config_dir/chromium
xdg_config_dir/Code
xdg_config_dir/configstore
xdg_config_dir/dconf
xdg_config_dir/deluge
xdg_config_dir/evolution
xdg_config_dir/folder-color
xdg_config_dir/freerdp
xdg_config_dir/gatsby
xdg_config_dir/gedit
xdg_config_dir/gh
xdg_config_dir/GIMP
xdg_config_dir/gitbook-editor
xdg_config_dir/git/userconfig
xdg_config_dir/gnome-initial-setup-done
xdg_config_dir/GNU\ Radio
xdg_config_dir/google-chrome
xdg_config_dir/google-chrome-beta
xdg_config_dir/google-chrome-unstable
xdg_config_dir/Gpredict
xdg_config_dir/gsconnect
xdg_config_dir/.gsd-keyboard.settings-ported
xdg_config_dir/guvcview2
xdg_config_dir/htop
xdg_config_dir/ibus
xdg_config_dir/inkscape
xdg_config_dir/jfrog_secrets
xdg_config_dir/jira
xdg_config_dir/kcachegrindrc
xdg_config_dir/kicad
xdg_config_dir/libaccounts-glib
xdg_config_dir/libreoffice
xdg_config_dir/Logic
xdg_config_dir/menus
xdg_config_dir/mimeapps.list
xdg_config_dir/monitors.xml*
xdg_config_dir/nautilus
xdg_config_dir/nbictl
xdg_config_dir/nitrogen
xdg_config_dir/nvim/.netrwhist
xdg_config_dir/nvim/spell
xdg_config_dir/obsidian
xdg_config_dir/plank
xdg_config_dir/pulse
xdg_config_dir/Qt
xdg_config_dir/QtProject
xdg_config_dir/QtProject.conf
xdg_config_dir/ranger
xdg_config_dir/remmina
xdg_config_dir/renode
xdg_config_dir/RescueTime.com/activities
xdg_config_dir/session
xdg_config_dir/Signal
xdg_config_dir/Slack
xdg_config_dir/smplayer
xdg_config_dir/syncthing
xdg_config_dir/tilda
xdg_config_dir/tmux/plugins
xdg_config_dir/transmission
xdg_config_dir/Trolltech.conf
xdg_config_dir/unity3d
xdg_config_dir/update-notifier
xdg_config_dir/user-dirs.dirs
xdg_config_dir/user-dirs.locale
xdg_config_dir/vim/bundle
xdg_config_dir/VirtualBox
xdg_config_dir/vlc
xdg_config_dir/wireshark
xdg_config_dir/xbuild
xdg_config_dir/zsh/.oh-my-zsh
xdg_config_dir/zsh/.zcompdump*
