[Desktop Entry]
Type=Application
Exec=sleep 20; /usr/bin/rescuetime
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=rescuetime
Name=rescuetime
Comment[en_US]=
Comment=
